<!DOCTYPE html>
<html lang="en">
    {% include agency/head.html %}
    <body id="page-top">
        {% include agency/nav.html %}
        {% include agency/header.html %}
        {% include agency/services.html %}

        {% include agency/portfolio.html %}
        {% include agency/about.html %}
        {% include agency/team.html %}
        {% include agency/clients.html %}

        {% include agency/contact.html %}
        {% include agency/footer.html %}

        {% include agency/modal.html %}

        <!-- Bootstrap core JavaScript -->
        <script src="assets/agency/vendor/jquery/jquery.min.js"></script>
        <script src="assets/agency/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="assets/agency/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="assets/agency/js/jqBootstrapValidation.js"></script>
        <script src="assets/agency/js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="assets/agency/js/agency.min.js"></script>

    </body>
</html>