<!DOCTYPE html>
<html lang="en">
    {% include freelancer/head.html %}
    <body id="page-top">
        {% include freelancer/nav.html %}
        {% include freelancer/header.html %}
        {% include freelancer/portfolio.html %}
        {% include freelancer/about.html %}
        {% include freelancer/contact.html %}
        {% include freelancer/footer.html %}
        {% include freelancer/copyright.html %}
        {% include freelancer/modal.html %}

        <!-- Bootstrap core JavaScript -->
        <script src="/assets/freelancer/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/freelancer/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/assets/freelancer/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="/assets/freelancer/js/jqBootstrapValidation.js"></script>
        <script src="/assets/freelancer/js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/assets/freelancer/js/freelancer.min.js"></script>

    </body>
</html>